body {
background-color : white;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
ul {
  list-style-type: none;
width : 300px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: blue;
opacity: 0.7;
border-radius : 30px;
margin-left : auto;
margin-right : auto;
}
li a:hover {
  background-color: darkblue;
}
li {
float :left;
}
h1 {
color : white;
width : 175px;
background-color : blue;
opacity: 0.7;
text-align : center;
border : 2px solid black;
border-radius : 30px

}
.mouse {
color : white;
width : 1000px;
background-color : orange;
opacity: 0.7;
text-align : center;
border : 2px solid red;
border-radius : 30px;
font-size:large;
margin-bottom:30px;
}
h2 {
color : white;
width : 150px;
background-color : orange;
opacity: 0.7;
text-align : center;
border : 2px solid red;
border-radius : 30px

}
table {
color : white;
padding : 1px 1px 1px 1px ;
background-color : green;
opacity: 0.7;
text-align : center;
border : 2px solid blue;
border-radius : 30px;
font-size:large;
margin-bottom:30px;
border-spacing : 15px;
margin-left:30px;
}
tr:nth-child(even) {
  background-color: darkgreen;
}
th,tr,td {
border : 2px solid white;
border-radius : 30px;
opacity : 0.9;
}
